{% extends 'main_sidebar.html' %}

{% block content_main %}
    <div id="article">
        {% for item in posts[:5] %}
        <div class="post">
            <div class="title">
              <a href=''>{{ item['title'] }}</a>
            </div>
            
            <div class="detail">
                <div class="date">发布时间：{{ item['create_date'] }}</div>
                <div class="tags">标签分类：{{ item['tags'] }}</div>
            </div>
            <div class="content markdown-body-css" >
                {{ item['content'] }}
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        contents = document.getElementById("article").getElementsByClassName("content");
        for(let i = 0; i<contents.length; i++){

            contents.item(i).innerHTML = marked.parse(contents.item(i).textContent.trim());
        }


    </script>
{% endblock %}