<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Yarnom</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-5.2.2/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
    <div class="content">
        <header>
            <div class="nav-area">
                {% block nav_area %}{% endblock %}
            </div>
        </header>

        <div class="main">
            <div class="main-area">
                {% block main_area %}{% endblock %}
            </div>

        </div>
        <div class="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>

</body>
<script src="{{url_for('static',filename='css/bootstrap-5.2.2/dist/js/bootstrap.js')}}" crossorigin="anonymous"></script>
</html>