body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 2.3em;
}
.content header .nav-area {
  width: 60%;
  padding: 1.2em;
}
.content .main {
  display: flex;
  justify-content: center;
}
.content .main .main-area {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.content .main .main-area .content_main {
  width: 65%;
}
.content .main .main-area .siderbar {
  width: 18%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 14px;
  background-color: #2c3e50;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  letter-spacing: 1.5px;
}
.navbar .menu-list {
  background-color: #ffffff;
  display: flex;
  border-radius: 6px;
  box-shadow: 0 0 9px 0 rgba(161, 154, 154, 0.38);
  font-size: 14px;
  padding: 0.6em 2em;
}
.navbar .menu-list li {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.navbar .menu-list li a {
  padding: 0 0.2em;
  text-decoration: none;
  color: #2c3e50;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.navbar .menu-list :hover {
  border-radius: 6px;
  background-color: #f4f4f4;
}
.navbar .option a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 14px;
  background-color: #2c3e50;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  letter-spacing: 1.5px;
}

.siderbar .header .title {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 0.5em;
}
.siderbar .recent-posts {
  padding: 1em;
}
.siderbar .recent-posts li {
  list-style: none;
  border-radius: 4px;
  line-height: 18px;
  padding: 0.5em 0em;
  letter-spacing: 1.3px;
}
.siderbar .recent-posts li a {
  text-decoration: none;
  color: #3d3d3d;
  word-break: break-word;
}
.siderbar .recent-posts li:hover {
  font-weight: 700;
}

.article .post {
  color: #3d3d3f;
  font-size: 16px;
  line-height: 1.7em;
  border-bottom: 2px dashed #eee;
  letter-spacing: 1px;
  margin-bottom: 3em;
  padding-bottom: 3em;
}
.article .post .title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: 1.3px;
}
.article .post .title a {
  color: #353c5a;
  text-decoration: none;
}
.article .post .detail {
  display: flex;
  margin-bottom: 1em;
}
.article .post .detail .date {
  color: #aaa;
  font-size: 12px;
  margin-right: 12px;
}
.article .post .detail .tags {
  font-size: 12px;
  margin-right: 12px;
  color: #aaa;
}
.article .post .detail .tags a {
  text-decoration: none;
  color: #ada0a0;
  padding: 5px;
}
.article .post .top {
  margin-bottom: 0.8em;
}
.article .post .top span {
  font-size: 12px;
  font-weight: 600;
  background-color: #2c3e50;
  color: white;
  padding: 5px 18px;
  border-radius: 4px;
  letter-spacing: 2.5px;
}
.article .post .content {
  white-space: pre-line;
  color: #3d3d3f;
  font-size: 16px;
  line-height: 1.7em;
  font-family: "roboto";
}
.article .post .content h1 {
  font-size: 24px;
  margin: 0;
}
.article .post .content h2 {
  font-size: 22px;
  margin: 0;
}
.article .post .content h3 {
  font-size: 20px;
  margin: 0;
}
.article .post .content h4 {
  font-size: 18px;
  margin: 0;
}
.article .post .content h5 {
  font-size: 16px;
  margin: 0;
}
.article .post .content h6 {
  font-size: 15px;
  margin: 0;
}
.article .post .content p {
  margin: 0;
}
.article .post .content blockquote {
  font-size: 1rem;
  color: #999;
  border-left: 0.2rem solid #dfe2e5;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}
.article .post .content img {
  max-width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login .header {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 0.8em;
  letter-spacing: 2.5px;
}
.login .MuiPaper-root {
  margin-bottom: 1em;
  border-radius: 6px;
}
.login form {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.login form .text_box {
  position: relative;
}
.login form .text_box label {
  color: rgba(0, 0, 0, 0.6);
  transform-origin: left top;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translate(14px, -9px) scale(0.75);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.login form .text_box input {
  width: 100%;
  padding: 16.5px 14px;
  color: black;
  outline: none;
  border: 0px;
}

/*# sourceMappingURL=main.css.map */
